<ul class="navbar">
   <li class="browse" ><button (click)="openNav()">Kategoriat</button></li>
   <li class="browse"><button><a href="/lisaailmoitus">Lisää ilmoitus</a></button></li>
    <li class="personal"><button mat-button [matMenuTriggerFor]="menu">Käyttäjä</button></li>
       


</ul> 
<mat-menu #menu="matMenu">
<button mat-menu-item><a href="/rekisteroidy">Rekisteröidy</a></button>
<button mat-menu-item ><a href="/kirjaudu">Kirjaudu sisään</a></button>
</mat-menu>

<div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <a style="font-weight: bold" href="/ilmoitukset">Näytä kaikki</a>
      <div *ngFor="let category of allCategories">        
        <a href="/ilmoitukset/{{category['id']}}">{{category['name']}}</a>
    </div>
</div>
    


